.footer {
    background-color: rgb(68, 71, 70);
    height: 50px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: aliceblue;
}

.navitem {

}
