.header {
    background-color: var(--plum);
    align-items: center;
    text-align: center;
}

.header img {
    height: 5em
}

.header .navs {
    width: 50%;
    margin: auto;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1em;
}

.navlink {
    text-decoration: none;
    color: var(--magnolia);
    transition: all .4s ease-in-out;
}

.navlink:hover {
    color: var(--turq);
  }