.header {
    background-color: rgb(68, 71, 70);
    height: 50px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;

}

.navlink {
    text-decoration: none;
    color: aliceblue;
}