.venue-info-container {
    display: flex;
    padding: 1em;
    width: 70%;
    margin: auto;
    justify-content: space-around;
    margin-bottom: 2em;
    align-items: center;
}

.venue-container-text p {
    font-size: 1.25em;
    margin-left: 1em;
    width: 90%
}

.nordic-pic {
    max-height: 400px;
    min-width: 500px;
}

.map-container {
    display: flex;
    margin: auto;
    align-items: center;
    padding-bottom: 5em;
    width: 70%;
    font-size: 1.25em;
    justify-content: space-around;
    
}

iframe {
    min-height: 500px;
    min-width: 500px;
    margin-right: 1.5em;
}

@media only screen and (max-width: 1200px) {

    .main-venue-container {
        margin:auto;
        display: flex;
        flex-direction: column;
    }

    .venue-info-container {
        display: flex;
        margin: auto;
        width: 80%;
        margin: auto;
        text-align: center;
    }

    .nordic-pic {
        display: none;
    }

    .map-container {
        display: inline-block;
        margin: auto;
        padding-bottom: 5em;
        width: 80%;
        font-size: 1.25em;
        text-align: center;
    }

  }

  @media only screen and (max-width: 700px) {
    iframe {
        max-height: 50px;
        max-width: 50px;
        margin: none;
    }
}

@media only screen and (max-width: 600px) {
    iframe {
        display: none;
    }
}